<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Something Insightful">
    <link rel="canonical" href="http://www.SomethingInsightful.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Creative Consultant">
    <meta property="og:description" content="Something Insightful">
    <meta property="og:url" content="http://www.SomethingInsightful.com/">
    <meta property="og:site_name" content="Something Insightful">
    <meta property="og:image" content="assets/img/logo/previewimage-min.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Something Insightful">
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="1 minute">
        <!-- For LinkedIn -->
        <meta property="og:site_name" content="Something Insightful">
        <meta property="og:image:width" content="1200"> <!-- Adjust the width of your image -->
        <meta property="og:image:height" content="630"> <!-- Adjust the height of your image -->
    <meta name="msapplication-TileImage" content="assets/img/logo/270.png">
    <link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.ico">
    <link rel="icon" type="image/png" href="assets/img/logo/favicon.png">
    <link rel="icon" href="assets/img/logo/32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="assets/img/logo/60.png">
    <link rel="apple-touch-icon" href="assets/img/logo/180.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/logo/180.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/logo/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/logo/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/logo/152.png">
    <meta name="msapplication-TileImage" content="assets/img/logo/270.png">

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="assets/css/styles-min.css" />
</head>
<body>
  <!-- <img src="assets/img/bgd.jpg" class="bgd-image2" /> -->
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center position-relative header-nav">
      <!-- <h1 class="logo me-auto"><a href="index.html">Something Insightful</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav id="navbar" class="navbar">
        <!-- <a href="/" class="logo"><img src="assets/img/logo/logo.svg" alt="" class="img-fluid"> </a> -->
        <ul class="nav-group-left">
          <!-- <li><a class="nav-link scrollto {{ 'active' if currentPage == 'home' }}" href="/">Home</a></li>
          <li><a class="nav-link scrollto {{ 'active' if currentPage == 'work' }}" href="#work">Work</a></li>
          <li><a class="nav-link scrollto {{ 'active' if currentPage == 'services' }}" href="#services">Services</a></li> -->
          <li><a class="nav-link scrollto" href="#header">Home</a></li>
          <li><a class="nav-link scrollto" href="#work">Link 1</a></li>
          <li><a class="nav-link scrollto" href="#services">Link 2</a></li>

        </ul>


        <div class="icon mobile-nav-toggle"></div>

        <ul class="nav-number"><li>
          <button style="cursor:pointer;" onclick="location.href='tel:';" type="button" class="btn btn-secondary">
            <span class="icon-circle"><i class="bi bi-telephone-fill"></i></span> 
        </button></li></ul>

      </nav><!-- .navbar -->
   
    </div>

  </header><!-- End Header -->


{{ content | safe }}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="graphic"></div> -->
    <div class="container position-relative">
      <div class="row">

        <!-- <div class="col-lg-3 col-md-6 footer-contact">
          <img src="assets/img/logo/logo.svg">

        </div> -->

        <div class="col-lg-3 col-md-6 footer-links">

        </div>

        <div class="col-lg-3 col-sm-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#work">Link 1</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#services">Link 2</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="/contact-us">Contact Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about-us">About Us</a></li> -->

          </ul>
        </div>

        <div class="col-lg-3 col-sm-6 footer-links">
          <h4>Contact Us</h4>
          <ul class="has-icons">
            <li><i class="bi bi-phone-fill"></i> <a href="tel:"></a></li>
            <li><i class="bi bi-envelope-fill"></i> <a href="mailto:';"></a></li>
            <!-- <li><i class="bi bi-geo-alt-fill"></i> 
              address
            </li> -->
          </ul>
        </div>

      </div>

      <div class="copyright">
        &copy; Copyright <strong><span>Something Insightful</span></strong>. All Rights Reserved
      </div>

  </div>

</footer><!-- End Footer -->



<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>




<script src="assets/vendor/bodymovin/lottie.js"></script><!-- makes the top nav work -->
<script type="text/javascript">
  const icon = document.querySelector('.icon');

// When toggle button pressed, run toggleNav function
icon.addEventListener('click', toggleNav);
var state = 'play';
function toggleNav() {
  console.log('hi');        
  animation.goToAndStop(7, true);

  if(state === 'play') {
    animation.play();
    animation.setDirection(1);
    state = 'pause';
  } else {
    //animation.goToAndStop(0, true);
    animation.setDirection(-1);
    //animation.goToAndStop(-1);
    animation.play();
    state = 'play';
  }

}
</script>



<script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>

<script type="text/javascript">

</script>

<script src="assets/js/main.js"></script>

<script>


</script>

<!-- <script type="text/javascript">
  window.ga = function() {
      ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-2460563-1', 'auto');
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script> -->

</body>
</html>